@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans[wght].ttf');
}


.patreonbox {
    background-color: rgba(244, 252, 255, 1);
    border: 1px solid rgba(0, 160, 227, 1);
    padding: 40px 50px;
    border-radius: 35px;
    font-family: 'Plus Jakarta Sans';

}

.patreonbox p {
    color: rgba(77, 77, 77, 1);
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.ppimg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.ppcontent h3 {
    font-size: 20px;
    font-weight: 700;
}

.ppcontent h5 {
    color: rgba(77, 77, 77, 1);
    font-weight: 700;
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.colon img {
    width: 40px;
    object-fit: cover;
}

.testimonal {
    margin-top: 100px;
}



@media (width < 1400px) {

    .patreonbox p {
        font-size: 22px;
    }

}

@media (width < 1200px) {

    .patreonbox p {
        font-size: 20px;
    }

    .ppcontent h3 {
        font-size: 22px;
    }

    .ppcontent h5 {
        font-size: 22px;
    }

    .colon img {
        width: 80px;
    }


}


@media (width < 992px) {


    .testimonal {
        margin-top: 80px;
    }

    .patreonbox p {
        font-size: 18px;
    }

    .ppimg img {
        width: 100px;
        height: 100px;
    }

    .ppcontent h3,
    .ppcontent h5 {
        font-size: 20px;
    }

    .patreonbox {
        padding: 40px;
    }


}



@media (width < 768px) {

    .colon img {
        width: 50px;
    }


    .patreonbox p {
        font-size: 16px;
    }

    .ppimg img {
        width: 70px;
        height: 70px;
    }

    .ppcontent h3,
    .ppcontent h5 {
        font-size: 18px;
    }

    .patreonbox {
        padding: 30px;
    }


}

@media (width < 576px) {

    .colon img {
        width: 30px;
    }


    .patreonbox p {
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;

    }

    .ppimg img {
        width: 50px;
        height: 50px;
    }

    .ppcontent h3,
    .ppcontent h5 {
        font-size: 13px;
    }

    .patreonbox {
        padding: 30px;
    }


}