@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans[wght].ttf");
}
@font-face {
  font-family: "Anton";
  src: url("/fonts/anton.ttf");
}


.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
}
.title{
    font-size: 60px;
     font-family: "Anton";
}

.containerCards{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  border-radius: 31px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 28px;
}
.aboutCards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
  padding: 15px;
  width: 230px;
  text-align: start;
  min-height: 300px;
    position:relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index:1;
}
.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  border-radius: 10px;
}

.card img{
  width: 50px;
  height: 50px;
}

.description {
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  color: white;
    z-index: 2;
  margin-bottom: 0;;
}

.cardContent{
    margin-top: 5px;
  font-size: 16px;
}


@media (max-width:992px){
  .containerCards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.card{
  width:45%;
}
.aboutContent {
    width: 90%;
      gap: 50px;
  }

  .aboutCards {
    gap: 30px;
    flex-wrap: wrap;
  }
  .title{
    font-size: 60px;
  }
  .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: start;
  min-height: 260px;
    position:relative;
}
}
@media (max-width: 768px) {
  .aboutContent{
      flex-direction: column;
      width: 100%;
  }
  .contentContainer{
    width: 100%;
  }
  .aboutCards {
  flex-wrap: wrap;
    gap: 40px;
  }
  .content{
    width: 100%;
  }
  .cardContent {
 display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  text-align: start;
  min-height: 350px;
    position:relative;
  }

  .title {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }

  .aboutContent {
    width: 95%;
    font-size: 14px;
  }

  .description {
        font-size: 20px
  }
}

@media (max-width:576px){
    .cardContent {
    width: 95%;
     min-height: 500px;
    font-size: 14px;
  }

  .description {
       font-size: 20px;
  }
}

