.sessioncardwrapper {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    height: 420px
    

}

.cardhead h4,
.selectcard h6{
    font-size: 16px;
    font-weight: 600;
}

.cardhead h6 {
    font-size: 18px;
    font-weight: 700;
}

.cardbody h4 {
    font-size: 20px;
    font-weight: 700;
}

.cardbody p {
    font-size: 16px;
    font-weight: 400;
}

.cardbody h6 , .cardfooter h6{
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 600;
}


.selectcard {
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}