.sessioncardwrapper {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    height: 480px;
}

.sessioncardwrapper2 {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.cardhead h4,
.selectcard h6 {
    font-size: 16px;
    font-weight: 600;
}

.cardhead h6 {
    font-size: 18px;
    font-weight: 700;
}

.cardbody h4 {
    font-size: 20px;
    font-weight: 700;
}

.cardbody p {
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 72px;

}

.cardbody h6,
.cardfooter h6 {
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}


.selectcard {
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.cardstatus h6 {
    margin: 0px;
    color: #fff;
    padding: 4px 16px;
    border-radius: 15px;
    font-size: 14px;
}