
.inputgroup input {
    border: 1px solid #E5E5EA;
    border-radius: 10.15px;
    height: 55px;
    width: 100%;

}

.inputgroup label {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}



.formwrapper {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.formwrapper h4 {
    font-size: 20px;
    font-weight: 700;
    color: #00A0E3;
    margin-bottom: 30px;
}


.radiotbn {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
}

.memberinfo{
    background-color: rgb(254, 213, 213);
    padding: 20px;
    border-radius: 15px;
    font-size: 14px;
}

.memberinfo span{
    font-weight: 700;
}


.inputgroup button{
    width: 100% !important;
    padding: 15px !important;
    margin-top: 20px;
}

.membershipsection{
    margin-top: 80px;
}