.wrapper {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.sectionlist {
    height: 600px;
    overflow-y: scroll;
    background-color: #ffff;
}


.paymentsection {
    margin: 50px 0px;
}

.pdinfohead h4 {
    font-size: 18px;
    font-weight: 700;
}

.pdinfo h4 {
    font-size: 16px;
    font-weight: 550;
    color: #757373;
}

.pdinfo p {
    font-size: 14px;
    font-weight: 550;
}


.leftentry h6,
.rightentry h6 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.leftentry h4,
.rightentry h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}


.leftentry p,
.rightentry p {
    font-size: 16px;
    color: #757373;
    font-weight: 400;
}


.leftentry h3,
.rightentry h3 {
    font-size: 24px;
    font-weight: 700;
}

.inputgroup button {
    width: 100% !important;
    padding: 15px !important;
    margin-top: 20px;
}

.summary h6,
.radiotbn label {
    font-size: 14px;
    color: #757373;
    font-weight: 400;
}


.radiotbn {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.inputgroup p {
    font-size: 10px;
    color: #757373;
    text-align: center;
}