.personalwrapper {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}


.paymentsection{
    margin-top: 80px;
}

.pdinfohead h4{
    font-size: 18px;
    font-weight: 700;
}

.pdinfo h4{
    font-size: 16px;
    font-weight: 550;
  color: #9e9c9c;
}

.pdinfo p{
    font-size: 14px;
    font-weight: 550;
}

.pdinfo{
    margin: 10px 0px;
}