.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}


.workshopContainer{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}