
/* PriceSummary.module.css */
.summaryBox {
  background: #fff;
  padding: 1.5rem 1.5rem 1rem; 
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 100px;
  min-width: 250px;
  margin-bottom: 20px;
}

.summaryTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.summaryTotal {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.button{
    width: 100%;
    gap:12px;
}
.button button{
    width: 100%;
}

.summaryItem span{
    font-size: 14.5px;
}

.total p{
    font-size: 12.5px;
    color: gray;
}

.subTotal{
      display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}



@media (width < 992px){
    .summaryBox {
    position: fixed; /* Stick to bottom */
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    border-radius: 12px 12px 0 0; /* Rounded top corners only */
    min-width: 100%;
    padding: 1rem;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1); /* Shadow from top */
    z-index: 999; /* Make sure it's above other elements */
  }
  .button button{
    height: 55px;
    width: 100%;
}
}