
/* PriceSummary.module.css */
.summaryBox {
  background: #fff;
  padding: 1.5rem 1.5rem 1rem; 
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 100px;
  min-width: 250px;
}

.summaryTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.summaryTotal {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.button{
    width: 100%;
}
.button button{
    width: 100%;
}

.summaryItem span{
    font-size: 14.5px;
}

.total p{
    font-size: 12.5px;
    color: gray;
}

.subTotal{
      display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}



@media (width < 992px){
    
}