.backButton {
  position: absolute;
  left: 0px;
  top: 45%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #00a0e3;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.backButton:hover {
  text-decoration: underline;
}