.profileimg img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.profile h4 {
    font-size: 17px;
    font-weight: 700;
    margin: 0px;
}

.profile h6 {
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
    color: rgb(162, 161, 161);
}

.buttonGroup button{
    margin-top: 0;
    border-radius: 100px;
}