.inputgroup input {
    border: 1px solid #E5E5EA;
    border-radius: 10.15px;
    height: 55px;
    width: 100%;

}

.inputgroup {
    margin: 30px 0px;
}

.inputgroup label {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.inputarea {
    padding-left: 95px;
}

.formselect {
    border-radius: 10.15px 0px 0px 10.15px;
    height: 54px;
    top: 29px;
    width: 80px;
}

.inputgroup button {
    font-size: 15px !important;
    padding: 15px 0px !important;
    font-weight: 800 !important;
}

.formwrapper {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}


.inputgroup button {
    width: 100% !important;
    padding: 15px !important;
    margin-top: 20px;
}

.personaldetailsection{
    padding: 50px 0px;
}

