.inputgroup input,
.inputgroup input:focus {
    border: 1px solid #E5E5EA;
    border-radius: 10.15px;
    height: 55px;
    width: 100%;
    background-color: #f7f7f7;

}

.inputgroup {
    margin: 30px 0px;
}

.inputgroup label {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.inputarea {
    padding-left: 95px;
}

.formselect {
    border-radius: 10.15px 0px 0px 10.15px;
    height: 54px;
    top: 29px;
    width: 80px;
    background-color: #f7f7f7 ;

}

.formwrapper {
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.personaldetailsection {
    padding: 50px 0px;
}