@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans[wght].ttf");
}

.container {
  font-family: "Plus Jakarta Sans";
  background-color: #d3f2ff;
  min-height: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 90px auto 0px;
}
.contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 80px auto;
}

.title {
  font-family: 'Anton';
  font-weight: 400;
  font-size: 60px;
  line-height: 114%;
  letter-spacing: 0%;
  text-align: center;
}

.form {
  width: 100%;
  margin: 50px auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button button {
  background-color: #000;
  color: #fff;
  width: 171px;
  padding: 18px 20px;
  height: 59px;
  border: none;
  border-radius: 11px;
  font-weight: 800;
  font-size: 17px;
}

.inputgroup{
    width: 100%;
    height: 65px;
}
.inputgroup input{
    height: 100%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
}
.description1 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px !important;
}

.description2 {
  color: #6b6b6b;
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  letter-spacing: -1%;
  text-align: center;
  margin-bottom: 10px !important;
}
.buttonGroup{
  margin-top: 30px;
}
.button{
  padding: 33px 66px;
  border-radius: 50px;
  font-size: 20px;
}
@media (max-width: 992px) {
  .container {
    width: 100% !important;
    margin: 80px auto 50px;
    padding-top: 20px;
    height: 500px;
  }
  .contentContainer {
    width: 100% !important;
    padding: 0;
    margin: 20px auto;
  }
  .title {
    font-size: 50px;
    width: 90%;
    margin-bottom: 10px;
    text-align: center !important;
  }
  .form {
    width: 100%;
    margin-top: 30px;
  }
  .inputgroup{
    height: 60px;
  }
  .inputgroup input{
    font-size: 13.5px;
  }
   .content{
    width: 100%;
   }
.button{
  padding: 25px 60px;
  border-radius: 50px;
  font-size: 20px;
}
.description1,.description2{
    width: 100%;
}
.description1{
    font-size: 22px;
}
.description2{
    font-size: 20px;
}
}

@media (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: 80px auto 50px;
    padding-top: 40px;
    height: 600px;
  }
  .contentContainer {
    width: 100% !important;
    padding: 0;
    margin: 20px auto;
  }
  .title {
    font-size: 40px;
    width: 90%;
    margin-bottom: 10px;
    text-align: center !important;
  }
  .form {
    width: 100%;
    margin-top: 20px;
  }
  .inputgroup{
    height: 50px;
  }
  .inputgroup input{
    font-size: 13.5px;
  }
   .button{
    width: 100%;
  padding: 25px 50px;
  border-radius: 50px;
  font-size: 20px;
}
.description1,.description2{
    width: 100%;
}
.description1{
    font-size: 20px;
}
.description2{
    font-size: 16px;
}
.buttonGroup{
    flex-direction: column;
}
}


@media (max-width:420px){
    .container {
      padding-top: 45px;
   min-height: 700px;
   height: auto;
  }
}