.programmcard {
    padding: 20px;
    border-radius: 10px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    
}

.programmhead h4{
    font-size: 15px;
    font-weight: 500;
}

.programmhead h5{
    font-size: 18px;
    font-weight: 700;
}

.programminfo h4{
    font-size: 16px;
    font-weight: 600;
}

.programminfo h6 , .programminfo p{
    font-size: 550;
    font-size: 15px;
     color: #757373;
}